<div class="home">
  <div class="header">
    <button id="rate" class="icon">
      <i class="fas fa-star"></i>
    </button>
    <button id="setting" class="icon"><i class="fas fa-cog"></i></button>
  </div>
  <div class="title">
    <span class="tap">Tap</span> <br />
    <span class="the">the</span> <br />
    <span class="black">Black</span>
  </div>
  <div class="content">
    <a href="/play" class="text-button play" data-link>Play</a>
    <div class="best-score">
      <div class="value">0</div>
      <div class="label">Best Score</div>
    </div>
  </div>
</div>
